body {
    height: 100vh;
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: lightblue;
    /*border: 2px solid red;*/
}

#header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: auto;
    font-size: larger;
}

#aboveFooter {
    display: flex;
    justify-content: center;
    align-items: center;
    /*border: 2px solid purple;*/
}


.line {
    display: flex;
    /*border: 2px solid red;*/
    color: white;
    flex: 1;
    min-height: 0;
    min-width: 0;
}

.perLine {
    display: flex;
    /*border: 2px solid blue;*/
    color: white;
    flex: 1;
    min-height: 0;
    min-width: 0;
}

#footer {
    display: flex;
    /*border: 2px solid blue;*/
    margin-top: auto;
}

#container {
    display: flex;
    flex-direction: column;
    height: auto;
    width: auto;
    /*border: 10px solid black;*/
    flex: 1 2 ;
    min-height: 0;
    min-width: 0;
}

#sketchArea {
    display: flex;
    background-color: white;
    border: 2px inset grey;
    height: 500px;
    width: 500px;
}

.perLine.permaHover {
    background-color: black;
    color: black;
}

#inputs {
    display: flex;
    /*border: 2px solid yellow;*/
    flex-direction: column;
    margin-right: 25px;
    gap: 25px;
}